<a href="https://colab.research.google.com/github/mlaricobar/solution-datathon-interbank-2020/blob/desarrollo/%5B03%5D%20Feature%20Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering

In [1]:
from google.colab import drive, files

import pandas as pd

from datetime import datetime
from dateutil import relativedelta

In [2]:
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
%cd /gdrive/'My Drive'/Competencias/'[02] Interbank-2020'
!ls -lh '[00] Data'

/gdrive/My Drive/Competencias/[02] Interbank-2020
total 5.1G
-rw------- 1 root root 979M Dec 12 01:33 censo_test.csv
-rw------- 1 root root 748M Dec 12 01:34 censo_train.csv
-rw------- 1 root root  998 Dec 12 01:34 productos.csv
-rw------- 1 root root 1.7G Dec 12 01:34 rcc_test.csv
-rw------- 1 root root 1.4G Dec 12 01:35 rcc_train.csv
-rw------- 1 root root 3.3M Dec 12 01:35 sample_submission.csv
-rw------- 1 root root  30M Dec 12 01:35 se_test.csv
-rw------- 1 root root  28M Dec 12 01:35 se_train.csv
-rw------- 1 root root 122M Dec 12 01:35 sunat_test.csv
-rw------- 1 root root 106M Dec 12 01:35 sunat_train.csv
-rw------- 1 root root 3.0M Dec 12 01:35 y_train.csv

## Dataset RCC

In [4]:
def optimizar_df(df):
  for col_ in df.select_dtypes(include=[int]).columns:
    df[col_] = pd.to_numeric(df[col_], downcast="unsigned")

  for col_ in df.select_dtypes(include=[float]).columns:
    df[col_] = pd.to_numeric(df[col_], downcast="float")
  
  return df

In [5]:
df_rcc_train = optimizar_df(pd.read_csv("[00] Data/rcc_train.csv"))
df_rcc_test = optimizar_df(pd.read_csv("[00] Data/rcc_test.csv"))

In [6]:
top_freq_products = [1, 2, 3, 8, 255, 4, 0, 6]
top_propensity_products = [12, 17, 18, 25, 20]
low_propensity_products = [32, 33, 35, 36, 37, 38, 40, 41]
list_product = top_freq_products + top_propensity_products + low_propensity_products
print(list_product)

[1, 2, 3, 8, 255, 4, 0, 6, 12, 17, 18, 25, 20, 32, 33, 35, 36, 37, 38, 40, 41]

In [7]:
df_rcc_test["PRODUCTO"] = df_rcc_test["PRODUCTO"].fillna(255)
df_rcc_test["PRODUCTO"] = df_rcc_test["PRODUCTO"].astype(int)

In [8]:
cat_col = "PRODUCTO"
df_rcc_train.loc[~df_rcc_train[cat_col].isin(list_product), cat_col] = "OTROS"
df_rcc_train.loc[df_rcc_train[cat_col].isin(top_propensity_products), cat_col] = "TOP_PROPENSITY"
df_rcc_train.loc[df_rcc_train[cat_col].isin(low_propensity_products), cat_col] = "LOW_PROPENSITY"

df_rcc_test.loc[~df_rcc_test[cat_col].isin(list_product), cat_col] = "OTROS"
df_rcc_test.loc[df_rcc_test[cat_col].isin(top_propensity_products), cat_col] = "TOP_PROPENSITY"
df_rcc_test.loc[df_rcc_test[cat_col].isin(low_propensity_products), cat_col] = "LOW_PROPENSITY"

In [9]:
agg_func = "mean"
numeric_value = "saldo"
df_rcc_crosstab = (pd.crosstab(index=[df_rcc_train.key_value, df_rcc_train.codmes], 
                               columns=df_rcc_train[cat_col], 
                               values=df_rcc_train[numeric_value],
                               aggfunc=agg_func)
                    .reset_index(drop=False)
                    .reset_index(drop=True))
df_rcc_crosstab.columns = ["{0}_{1}_FOR_{2}_{3}".format(numeric_value.upper(), agg_func.upper(), cat_col, c) if c not in ["key_value", "codmes"] else c for c in df_rcc_crosstab.columns]

feat_cols = [c for c in df_rcc_crosstab.columns if "{0}_".format(cat_col) in c]
df_rcc_crosstab["MEAN_OF_{0}_{1}_FOR_ALL_{2}".format(numeric_value.upper(), agg_func.upper(), cat_col)] = df_rcc_crosstab[feat_cols].mean(axis=1)
df_rcc_crosstab["SUM_OF_{0}_{1}_FOR_ALL_{2}".format(numeric_value.upper(), agg_func.upper(), cat_col)] = df_rcc_crosstab[feat_cols].sum(axis=1)
df_rcc_crosstab["COUNT_OF_{0}_{1}_FOR_ALL_{2}".format(numeric_value.upper(), agg_func.upper(), cat_col)] = df_rcc_crosstab[feat_cols].count(axis=1)

In [10]:
df_rcc_test_crosstab = (pd.crosstab(index=[df_rcc_test.key_value, df_rcc_test.codmes], 
                               columns=df_rcc_test[cat_col], 
                               values=df_rcc_test[numeric_value],
                               aggfunc=agg_func)
                    .reset_index(drop=False)
                    .reset_index(drop=True))
df_rcc_test_crosstab.columns = ["{0}_{1}_FOR_{2}_{3}".format(numeric_value.upper(), agg_func.upper(), cat_col, c) if c not in ["key_value", "codmes"] else c for c in df_rcc_test_crosstab.columns]

feat_cols = [c for c in df_rcc_test_crosstab.columns if "{0}_".format(cat_col) in c]
df_rcc_test_crosstab["MEAN_OF_{0}_{1}_FOR_ALL_{2}".format(numeric_value.upper(), agg_func.upper(), cat_col)] = df_rcc_test_crosstab[feat_cols].mean(axis=1)
df_rcc_test_crosstab["SUM_OF_{0}_{1}_FOR_ALL_{2}".format(numeric_value.upper(), agg_func.upper(), cat_col)] = df_rcc_test_crosstab[feat_cols].sum(axis=1)
df_rcc_test_crosstab["COUNT_OF_{0}_{1}_FOR_ALL_{2}".format(numeric_value.upper(), agg_func.upper(), cat_col)] = df_rcc_test_crosstab[feat_cols].count(axis=1)

In [11]:
#df_rcc_crosstab.head(10)
#df_rcc_test_crosstab.head(10)

In [23]:
month_dict = {"U12M": [201802, 201801, 201712, 201711, 201710, 201709, 201708, 201707, 201706, 201705, 201704, 201703],
              "U06M": [201802, 201801, 201712, 201711, 201710, 201709],
              "U03M": [201802, 201801, 201712],
              "U01M": [201802]
              }

month_dict_test = {"U12M": [201902, 201901, 201812, 201811, 201810, 201809, 201808, 201807, 201806, 201805, 201804, 201803],
              "U06M": [201902, 201901, 201812, 201811, 201810, 201809],
              "U03M": [201902, 201901, 201812],
              "U01M": [201902]
              }

In [24]:
def diff_months(codmes_ini, codmes_fin):
  r = relativedelta.relativedelta(datetime.strptime(str(int(codmes_fin)), '%Y%m'), datetime.strptime(str(int(codmes_ini)), '%Y%m'))
  return r.years*12 + r.months

In [25]:
agg_col_dict = {"codmes": ["last", "first"]}
agg_col_dict.update({c: ["mean", "sum", "count"] for c in df_rcc_crosstab.columns if c not in ["key_value", "codmes"]})

In [26]:
month_level = "U03M"
df_rcc_agg = (df_rcc_crosstab.loc[df_rcc_crosstab["codmes"].isin(month_dict[month_level])]
                             .groupby(["key_value"], as_index=False)
                             .agg(agg_col_dict)
                )
df_rcc_agg.columns = [month_level + "_" + "_".join(c).upper() if c[-1] != "" else c[0] for c in df_rcc_agg.columns]

df_rcc_test_agg = (df_rcc_test_crosstab.loc[df_rcc_test_crosstab["codmes"].isin(month_dict_test[month_level])]
                             .groupby(["key_value"], as_index=False)
                             .agg(agg_col_dict)
                )
df_rcc_test_agg.columns = [month_level + "_" + "_".join(c).upper() if c[-1] != "" else c[0] for c in df_rcc_test_agg.columns]

In [27]:
df_rcc_agg["{0}_RECENCY".format(month_level)] = df_rcc_agg.apply(lambda row: diff_months(row["{0}_CODMES_LAST".format(month_level)], 201803), axis=1)
df_rcc_agg["{0}_LONG_RECENCY".format(month_level)] = df_rcc_agg.apply(lambda row: diff_months(row["{0}_CODMES_FIRST".format(month_level)], 201803), axis=1)
df_rcc_agg["{0}_DIFF_MONTHS_FIRST_LAST".format(month_level)] = df_rcc_agg.apply(lambda row: diff_months(row["{0}_CODMES_FIRST".format(month_level)], row["{0}_CODMES_LAST".format(month_level)]), axis=1)
del df_rcc_agg["{0}_CODMES_FIRST".format(month_level)]
del df_rcc_agg["{0}_CODMES_LAST".format(month_level)]

df_rcc_test_agg["{0}_RECENCY".format(month_level)] = df_rcc_test_agg.apply(lambda row: diff_months(row["{0}_CODMES_LAST".format(month_level)], 201903), axis=1)
df_rcc_test_agg["{0}_LONG_RECENCY".format(month_level)] = df_rcc_test_agg.apply(lambda row: diff_months(row["{0}_CODMES_FIRST".format(month_level)], 201903), axis=1)
df_rcc_test_agg["{0}_DIFF_MONTHS_FIRST_LAST".format(month_level)] = df_rcc_test_agg.apply(lambda row: diff_months(row["{0}_CODMES_FIRST".format(month_level)], row["{0}_CODMES_LAST".format(month_level)]), axis=1)
del df_rcc_test_agg["{0}_CODMES_FIRST".format(month_level)]
del df_rcc_test_agg["{0}_CODMES_LAST".format(month_level)]

In [28]:
df_rcc_agg.head()

   key_value  ...  U03M_DIFF_MONTHS_FIRST_LAST
0          0  ...                            2
1          1  ...                            2
2          2  ...                            0
3          3  ...                            0
4          4  ...                            2

[5 rows x 43 columns]

In [29]:
df_rcc_test_agg.head()

   key_value  ...  U03M_DIFF_MONTHS_FIRST_LAST
0          0  ...                            2
1          1  ...                            2
2          2  ...                            2
3          3  ...                            2
4          4  ...                            2

[5 rows x 43 columns]

In [30]:
df_rcc_agg.shape, df_rcc_test_agg.shape

((358487, 43), (396666, 43))

In [31]:
df_rcc_agg.describe()

           key_value  ...  U03M_DIFF_MONTHS_FIRST_LAST
count  358487.000000  ...                358487.000000
mean   179243.000000  ...                     1.659039
std    103486.427313  ...                     0.742809
min         0.000000  ...                     0.000000
25%     89621.500000  ...                     2.000000
50%    179243.000000  ...                     2.000000
75%    268864.500000  ...                     2.000000
max    358486.000000  ...                     2.000000

[8 rows x 43 columns]

In [32]:
df_rcc_test_agg.describe()

           key_value  ...  U03M_DIFF_MONTHS_FIRST_LAST
count  396666.000000  ...                396666.000000
mean   198332.500000  ...                     1.664506
std    114507.755277  ...                     0.738994
min         0.000000  ...                     0.000000
25%     99166.250000  ...                     2.000000
50%    198332.500000  ...                     2.000000
75%    297498.750000  ...                     2.000000
max    396665.000000  ...                     2.000000

[8 rows x 43 columns]

In [33]:
df_rcc_agg.to_csv("[01] Intermediate/ds_rcc.csv", index=False)
df_rcc_test_agg.to_csv("[01] Intermediate/ds_rcc_test.csv", index=False)

## Dataset Socio-Demogrfico

In [34]:
df_se_train = optimizar_df(pd.read_csv("[00] Data/se_train.csv"))
df_se_test = optimizar_df(pd.read_csv("[00] Data/se_test.csv"))
df_y_train = optimizar_df(pd.read_csv("[00] Data/y_train.csv"))

In [35]:
df_se_train = df_se_train.merge(df_y_train, how="left", on="key_value")

In [36]:
df_se_train

        key_value      edad  sexo  est_cvl  ...   dto  rgn  tip_lvledu  target
0               0 -0.983651     1        4  ...   687    4           0       0
1               1  0.000953     1        4  ...   849    6           0       0
2               2  0.531124     0        4  ...  1405    1           7       0
3               3 -1.135129     0        4  ...   977    6           7       0
4               4 -1.438084     0        4  ...   391    3           0       1
...           ...       ...   ...      ...  ...   ...  ...         ...     ...
358423     358482  1.742944     0        4  ...   521    3           7       0
358424     358483 -0.302002     0        0  ...   768    3           7       0
358425     358484 -1.513823     1        4  ...   949    5           7       0
358426     358485  0.076691     1        4  ...  1313    3           0       0
358427     358486 -0.529219     1        4  ...   698    6           0       0

[358428 rows x 16 columns]

In [37]:
df_se_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358428 entries, 0 to 358427
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   key_value      358428 non-null  uint32
 1   edad           354663 non-null  float32
 2   sexo           358428 non-null  uint8
 3   est_cvl        358428 non-null  uint8
 4   sit_lab        358428 non-null  uint8
 5   cod_ocu        358428 non-null  uint8
 6   ctd_hijos      358428 non-null  float32
 7   flg_sin_email  358428 non-null  uint8
 8   ctd_veh        358428 non-null  float32
 9   cod_ubi        354255 non-null  float32
 10  lgr_vot        358428 non-null  uint8
 11  prv            358428 non-null  uint8
 12  dto            358428 non-null  uint16
 13  rgn            358428 non-null  uint8
 14  tip_lvledu     358428 non-null  uint8
 15  target         358428 non-null  uint8
dtypes: float32(4), uint16(1), uint32(1), uint8(10)
memory usage: 13.7 MB

In [39]:
df_se_train.shape, df_se_train["key_value"].nunique(), df_y_train.shape, df_y_train["key_value"].nunique(), df_se_test.shape, df_se_test["key_value"].nunique()

((358428, 16), 358428, (358487, 2), 358487, (396609, 15), 396609)

In [41]:
df_se_train.to_csv("[01] Intermediate/ds_se.csv", index=False)
df_se_test.to_csv("[01] Intermediate/ds_se_test.csv", index=False)

## Todos los Datasets

In [43]:
!ls -lh '[01] Intermediate'

total 216M
-rw------- 1 root root 81M Dec 17 14:57 ds_rcc.csv
-rw------- 1 root root 89M Dec 17 14:57 ds_rcc_test.csv
-rw------- 1 root root 23M Dec 17 15:01 ds_se.csv
-rw------- 1 root root 24M Dec 17 15:01 ds_se_test.csv

---